body {
    background-color:#403B34;
}

div.page-header {
    text-align: center;
    font-size: 72px;
    margin: 20px 20px 0px 20px;
    padding: 10px;
    background-color: #7F7668;
    border-bottom: 0px;
}

.jumbotron {
    background-image: url('images/tuscany-villas-sant-anna.jpg');
    height: 372px;
    margin: 0px;
    border: 2px solid #FFECCF;
    border-radius: 0px;
    background-size: cover;
}

.row {
    margin: 0px 20px 0px 20px;
}

div.fill {
    background-color: darkgray;
    height: 372px;
    margin: 0px;
    padding: 5px;
    background-size: cover;
    border: 2px solid #FFECCF;
    overflow: hidden;
    background-position: center;
}

#fill1 {
    background-image: url('images/Villa-Vanna-231-348x348.jpg');
}

#fill2 {
    background-image: url('images/Villa-Rucellai-Toscani-2750-2-348x348.jpg');
}

#fill3 {
    background-image: url('images/Villa-Rucellai-Toscani-2812-2-348x348.jpg');
}
#fill4 {
    background-image: url('images/Versilia.jpg');
}

button.navbar-toggle {
    border: 1px solid black;
}

span.icon-bar {
    border: 1px solid black;
}

.navbar {
    background-color: #BFB19B;
    margin: 0px 20px 0px 20px;
}

.navbar li a {
    color: #52735C;
    font-weight: bold;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}
